@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Marcellus+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Sedan:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  padding-bottom: 80px; /* Adicionando espaço para o rodapé */
}

.navbar {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  height: 110px;
  background-color: #010409;
  align-items: center;
  justify-content: center;
  border-bottom: solid 1px white;
}

.logo {
  /* border: solid white 1px; */
  align-items: center;
  justify-content: center;
  margin-left: 5%;
  font-size: 20px;
  text-align: center;
  flex-flow: row wrap;
  color: white;
  flex: 20%;
}

.menu {
  flex: 60%;
  text-align: right;
  padding: 30px;
}

.menu a {
  color: white;
  text-decoration: none;
  padding: 20px;
}

.menu a:hover {
  border-top: 4px white solid;
}

.principal {
  font-family: "PT Sans", sans-serif;
  width: 100%;
  max-height: 800px;
  margin-left: 40px;
  margin-top: 30px;
  display: flex;
  flex-flow: row wrap;
  color: black;
}

.logo a {
  text-decoration: none;
  color: white;
}

.sobre {
  text-align: justify;

  margin: 30px;
  align-items: center;
  justify-content: center;
}

#titulo {
  font-weight: bold;
  border-bottom: solid 1px gray;
  margin-top: 20px;
  padding: 5px;
}
